.host {
  list-style: none;
  display: flex;
  font-size: 0.8rem;

  :not(:first-child) {

    &:before {
      content: '/';
      margin: 0 0.5rem;
    }
  }
}

.active {
  font-weight: bold;
  pointer-events: none;
}
