.fontSize {
  font-size: 0.8rem;
}

.slash {
  content: '/';
  margin: 0 0.5rem;
}

.slashAfter {
  &::after {
    @extend .slash;
  }
}

.host {
  @extend .fontSize;
  list-style: none;
  display: flex;

  :not(:first-child) {
    &:before {
      @extend .slash;
    }
  }

  > :last-of-type > a {
    color: inherit;
    pointer-events: none;
    text-decoration: none;
    font-weight: bold;
  }
}
